---
layout: default
title: Home
description: We design, build and launch products and tools to solve your problems
featured_image: /images/social.png
---

<!-- <p class="text-sm">New Content Of Homepage</p> -->


{% assign statics = site.static_files | reverse %}

<div class="grid grid-cols-1 md:grid-cols-3">
	{% for image in statics %}
	{% if image.path contains 'fulls' %}
	<div class="{% cycle 'bg-red-800', 'bg-purple-800', 'bg-blue-800', 'bg-green-800', 'bg-yellow-800' %}"
		style="position: relative; width: 100%; padding-bottom: 100%;">
		<a href="#" data-featherlight="{{image.path}}" data-featherlight-close-on-esc="false"
			data-featherlight-variant="no-frame">
			<div class="opacity-100 hover:opacity-80"
				style="position: absolute; width: 100%; height: 100%; background-image:url({{image.path}}); background-position: center; background-size: cover;">
				<!-- <img src="{{image.path}}" class="opacity-100 hover:opacity-60 cursor-pointer" /> -->
			</div>
		</a>
	</div>
	<!-- <div style="background-image:url({{image.path}}); background-position: center; background-size: cover;"
		class="{% cycle 'bg-red-600', 'bg-purple-600', 'bg-blue-600', 'bg-green-300', 'bg-yellow-600' %}">
		<div style="width: 100%; height: calc(100vw / 3); display: block;"
			class="opacity-100 hover:opacity-60 cursor-pointer">
		</div>
	</div> -->
	{% endif %}
	{% endfor %}
	<!-- <div class="" style="position: relative; width: 100%; padding-bottom: 100%;">
		<a href="{{ paginator.next_page_path | relative_url }}">
			NEXT
		</a>
	</div> -->
</div>


<!-- <img src="{{image.path}}" class="opacity-100 hover:opacity-60 cursor-pointer" /> -->
<!-- <p>{% cycle "one", "two", "three", "four" %}</p> -->